body{
   background: #0F172A; 
   height: 100vh;
}
.dark-btn {
  background-color: #101828;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

 a {   
    transition: 1s;
}
 a:hover {
    transform: scale(1.05);
}
.dark-btn:hover {
  background-color: #101828;
  transform: scale(1.05);
}

.dark-btn:active {
  transform: scale(0.95);
}

.section {
   display: grid;
   grid-template-columns:repeat(2,1fr) ;     
}

.section .about-me {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin-top: 20px;
    /* margin-right: 200px; */
    align-items: center;
    color: #FAFDFF;
}

.section .about-me .btn .b-one {
    color: white;
    background-color: #101828;
    border-radius: 15px;
    width: 160px;
    transition: 0.4s;
}
.section .about-me .btn .b-two {
    color: white;
    background-color: #101828;
    border-radius: 15px;
    width: 160px;
    border: 2px solid #687da6;
    transition: 0.4s;
}

 .b-one:hover {
 transform: scale(1.05);
}

 .b-two:hover {
 transform: scale(1.05);
}

.section .image {
    width: 75%;
    height: 550px;
    overflow: hidden;
}
.section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}


